[Unit]
Description=Runs Spotlight image download daily

[Timer]
OnCalendar=daily
Persistent=true
Unit=spotlight.service

[Install]
WantedBy=default.target
